@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    .roundede {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.btn_add_ {
    background-color: rgb(254, 107, 107);
    color: white;

    &:hover {
        background-color: rgb(255, 61, 61);
        color: white;
    }
}


/* colors e hovers  */
.colorgreen {
    color: rgb(21, 131, 100);
}

.colorgreen_lite {
    color: rgb(69, 169, 140);
}

.red-hover {
    &:hover {
        color: rgb(249, 119, 119);
        transition-duration: 0.6s;
    }
}

.redbg-hover {
    &:hover {
        background-color: rgb(249, 119, 119);
        transition-duration: 0.4s;
        border: #ff0000;
    }
}

.red {
    color: rgb(249, 119, 119);
}

.bg-forms {
    background-color: rgba(65, 150, 65, 0.256)
}

.bg-orange {
    background-color: #F5962A;
}

.backgroundpages-red {
    background-color: red;
}

.background-green-footer {
    background-color: rgb(69, 169, 140);
}

.background-green {
    background-color: rgb(21, 131, 100);
}

.container-shadow {
    box-shadow: 10px 10px 5px rgb(45, 74, 66);
}

.text-shadow {
    text-shadow: 3px 3px rgb(160, 160, 160)
}

.pippo:hover {
    background-color: rgb(10, 98, 38);
    transition: 0.7s;
}

/* hover of add dishes */
.hover-3 {
    --b: rgb(21, 131, 100);
    /* the thickness of the line */
    --c: rgb(249, 119, 119);
    /* the color */

    color: rgb(255, 255, 255);
    font-weight: bold;
    background:
        linear-gradient(var(--c) 50%, rgb(21, 131, 100) 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.hover-3:hover {
    --_p: 100%;
    --_s: .3s;
}

/* .hover-show-dishe {
    color: rgb(21, 131, 100);
    cursor: pointer;
    background:
        linear-gradient(90deg, rgb(21, 131, 100) 50%, #000 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .4s;
}

.hover-show-dishe:hover {
    --_p: 0%;
    font-weight: bold;
} */

.hover-show-dishe {
    color: rgb(21, 131, 100);
    position: relative;
    text-decoration: none;
    font-weight: 500;

}

.hover-show-dishe::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;

    background-color: rgb(21, 131, 100);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.hover-show-dishe:hover::before {
    transform-origin: left;
    transform: scaleX(1);

}




.hover-navitem {
    --b: 0.1em;
    /* the thickness of the line */
    --c: rgb(249, 119, 119);
    /* the color */

    color: rgb(21, 131, 100);
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.hover-navitem:hover {
    color: rgb(249, 119, 119);
    --_p: 100%;
    --_s: .3s;
}

.hover-navitem-offcanca {
    color: rgb(21, 131, 100);

    &:hover {
        color: rgb(21, 131, 100);
        background-color: rgba(201, 253, 238, 0.653);
    }
}

.size-18 {
    font-size: 18px;
}


/* welcome page */
.jumbotron-bg {
    background-image: url('https://revx.io/storage/2021/08/fast-delivery-scooter-rides-out-smartphone-delivery-concept-online-ordering-food-delivery-last-mile-template-banner-3d-illustration-3d-render-scaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* navbar */
.w-logo {
    width: 150px;

}


/* index */
.w-dish {
    width: auto;
}

.dummy-positioning {
    width: 100%;
    height: 220px;
    align-items: center;
    justify-content: center;
}

.tooltip_ {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;


}

.tooltip_ .tooltiptext_ {
    visibility: hidden;
    width: 70px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    font-size: smaller;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -35px;
}

.tooltip_:hover .tooltiptext_ {
    visibility: visible;
}

/* show dish */
.image-dish {
    width: 400px
}



// The icon specifics
// Variables
$green: #4cc93f;
$icon-base-size: 20px;

// Structure
.success-icon {
    display: inline-block;
    width: 8em;
    height: 8em;
    font-size: $icon-base-size;
    border-radius: 50%;
    border: 4px solid lighten($green, 20%);
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transform-origin: center;
    animation: showSuccess 180ms ease-in-out;
    transform: scale(1);
}

// Elements
.success-icon {

    &__tip,
    &__long {
        display: block;
        position: absolute;
        height: 4px;
        background-color: lighten($green, 20%);
        border-radius: 10px;
    }

    &__tip {
        width: 2.4em;
        top: 4.3em;
        left: 1.4em;
        transform: rotate(45deg);
        animation: tipInPlace 300ms ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 180ms;
        visibility: hidden;
    }

    &__long {
        width: 4em;
        transform: rotate(-45deg);
        top: 3.70em;
        left: 2.75em;
        animation: longInPlace 140ms ease-in-out;
        animation-fill-mode: forwards;
        visibility: hidden;
        animation-delay: 300ms + 140ms;
    }

}

@keyframes showSuccess {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes tipInPlace {
    from {
        width: 0em;
        top: 0em;
        left: -1.6em;
    }

    to {
        width: 2.4em;
        top: 4.3em;
        left: 1.4em;
        visibility: visible;
    }
}

@keyframes longInPlace {
    from {
        width: 0em;
        top: 5.1em;
        left: 3.2em;
    }

    to {
        width: 4em;
        top: 3.70em;
        left: 2.75em;
        visibility: visible;
    }

}

/* restaurant */


.input-checkbox {
    margin-top: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: box-shadow .3s;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
}

.input-checkbox:checked {
    box-shadow: inset 0 0 0 7px rgb(21, 131, 100);
}

.bg-orders {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-old-paper-texture-parchment-background-image_354980.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px
}

@media screen and (max-width: 576px) {
    .size-txtjumbo {
        font-size: 17px;

    }
}